<div class="page-header">
  <header class="page-header">
    <h1> &raquo; Signup</h1>
  </header>

  <%= form_with(model: @user, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :first_name %><br/>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %><br/>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %><br/>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br/>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <br>
    <div class="form-group">
      <%= f.submit 'Signup', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>